# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# rescript
/lib/
.bsb.lock
*.bs.js
.merlin

# parcel
.parcel-cache
dist

# testing
/coverage

# IDEs
.idea

# misc
.DS_Store

yarn-debug.log*
yarn-error.log*
