.dots {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.dot-box {
  padding: 5px;
  cursor: pointer;
}

.dot {
  margin: 0;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  background-color: #666666;
}
.dot-box.selected .dot {
  background-color: #cccccc;
}
