.temperature {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 100%;
}

.min, .max {
  font-size: 12px;
}

.current {
  font-size: 36px;
}
