.temperature {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  & > * {
    width: calc(100%/3);
  }

  .min, .max {
    font-size: 12px;
  }
  .min {
    text-align: left;
    padding-left: 12px;
  }
  .max {
    text-align: right;
    padding-right: 12px;
  }

  .current {
    font-size: 36px;
    text-align: center;
  }
}
