.temperature {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
	padding: 0 0.75rem;
}
.temperature > * {
  width: calc(100%/3);
}

.min, .max {
  font-size: 1rem;
}
.min {
  text-align: left;
}
.max {
  text-align: right;
}

.current {
  font-size: 2rem;
  text-align: center;
}
