.wind {
  display: flex;
  align-items: center;
  justify-content: center;
	column-gap: 0.5rem;
}

i.wind-icon {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background: url('../assets/images/compass_white.png') center/100% no-repeat;
}

.wind-speed {
  font-size: 1.5rem;
}
.wind-speed .units {
  font-size: 1rem;
}
